<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutricionApp"
        tools:targetApi="31">

        <!-- Actividad de Login -->
        <activity
            android:name="com.example.nutricionapp.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad MainActivity -->
        <activity
            android:name="com.example.nutricionapp.MainActivity"
            android:exported="true">
        </activity>

        <!-- Actividad de Diagnóstico -->
        <activity
            android:name="com.example.nutricionapp.DiagnosticActivity"
            android:exported="true">
        </activity>

        <!-- Actividad de Recomendaciones -->
        <activity
            android:name="com.example.nutricionapp.RecomendacionesActivity"
            android:exported="true">
        </activity>

        <!-- Actividad de Configuración -->
        <activity
            android:name="com.example.nutricionapp.SettingsActivity"
            android:exported="true">
        </activity>

        <!-- Actividad de Registro -->
        <activity
            android:name="com.example.nutricionapp.RegistroActivity"
            android:exported="true">
        </activity>

        <!-- Actividad de Home (agregada) -->
        <activity
            android:name="com.example.nutricionapp.HomeActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.example.nutricionapp.EditProfileActivity"
            android:exported="true">
        </activity>

    </application>

</manifest>
